body {
    background: #bc87d4;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
}

p {
    font-weight: 600;
}

#manual {
    margin-top: 8px;
    color: #2e2e2e;
}

#enter {
    background-color: #ffffff;
    padding: 5px 15px;
    color: #7404bf;
    font-weight: 600;
}

ul {
    text-align: left;
    margin-top: 20px;
}

li {
    list-style: none;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #6c20aa;
}

li>button {
    font-weight: normal;
    background: none;
    border: none;
    float: right;
    color: #ffffff;
    font-weight: 800;
}

input {
    padding: 5px;
}

.delete {
    display: none;
}